.page {
  overflow-x: hidden;
}

.page__scale-wrap {
  width: 100%;
  overflow: clip;
}

.page__scale-body {
  width: 100%;
}

@media (max-width: 23.4375rem) {
  .page__scale-wrap {
    height: calc(var(--hero-mobile-min-height) * 100vw / 375);
  }

  .page__scale-body {
    width: 23.4375rem;
    transform: scale(calc(100vw / 375));
    transform-origin: top left;
  }
}
