.support {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.support__title {
  padding-right: 0.6rem;
  font-family: var(--font-heading);
  font-size: 1.75rem;
  line-height: 1.35;
  text-transform: uppercase;
  font-weight: 500;
}

.support__media {
  display: block;
  float: left;
  width: 100%;
  margin: 1.5rem 0;
}

.support__image {
  display: block;
  width: 100%;
  max-width: 20.9375rem;
  height: auto;
  margin: 0 auto;
}

.support__title-accent {
  display: block;
  color: var(--color-running-line-bg);
  font-weight: 700;
}

.support__title::after {
  content: "";
  display: block;
  clear: both;
}

@media (min-width: 60rem) {
  .support {
    padding-top: 6.5rem;
    padding-bottom: 4rem;
  }

  .support__title {
    position: relative;
    min-height: 15.625rem;
    padding-right: 32.625rem;
    font-size: 2.25rem;
    line-height: 1.35;
  }

  .support__media {
    position: absolute;
    top: -1.6rem;
    right: 0;
    width: 24.625rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    float: none;
  }

  .support__image {
    max-width: 24.625rem;
    margin: 0;
  }

  .support__title-accent {
    display: inline;
  }
}
