@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../assets/fonts/merriweather-cyrillic-400.woff2") format("woff2");
}

@font-face {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../assets/fonts/golos-text-cyrillic-400-600.woff2") format("woff2");
}

@font-face {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../assets/fonts/golos-text-cyrillic-400-600.woff2") format("woff2");
}

@font-face {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../assets/fonts/golos-text-cyrillic-400-600.woff2") format("woff2");
}

:root {
  --font-heading: "Merriweather", "Times New Roman", Georgia, serif;
  --font-body: "Golos Text", "Arial", sans-serif;
}
